/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Roboto', sans-serif;
}

.app-wrapper{
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
}

/* img{
    width: 100%;
} */

/* Main */
main{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}

/* Left-Nav-Col */
.left-nav-col{
    background-color: black;
    width: 200px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    
}

.logo{
    width: 150px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.7rem;
}

.playlist-area{
    flex-grow: 1;
}

.play-list{
    overflow-y: auto;
    height: 60%;
}

.current div{
    padding-left: 0.7rem;
}

.search div{
    padding-left: 1rem;
    display: inline-block;
}

.libreria div{
    padding-left: 1rem;
    display: inline-block;
}

.current{
    border-left: 3px solid #a9f533;
}

.user-menu{
    list-style-type: none;
    color: #6b6b6b;
}

.user-menu img{
    width: 30px;
    vertical-align: middle;
    opacity: 0.5;
}

.playlist-area{
    padding-top: 1rem;
    padding-left: 1rem;
}

.playlist-area div{
    padding: 0.5rem 0;
}

.playlist-area h3{
    color: white;
    font-size: 16px;
}

.plus-square{
    background-color: #a3a3a3;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
}

.add-playlist :last-child{
    color: #6b6b6b;
    font-weight: bold;

}

.play-list{
    list-style-type: none;
    line-height: 30px;
    color: #6b6b6b;
}

.download img{
    width: 15px;
    vertical-align: middle;
}

.download span{
    font-size: 13px;
    vertical-align: middle;
}

.profile img{
    width: 20px;
    background-color:#a3a3a3 ;
    border-radius: 50%;
    vertical-align: middle;
}

.last-menu{
    padding-left: 1rem;
    padding-right: 1rem;
}

hr{
    margin: 0.5rem 0;
    border: none;
    height: 1px;
    color: #6b6b6b;
    background-color: #6b6b6b;;
}

.download span{
     color: #6b6b6b;;
}

.profile h3{
    color: white;
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}

/* Main-content */
.main-content{
    background-color: bisque;
    width: calc(100% - 200px);
    overflow-y: auto;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 12px;

}

.main-menu li{
    padding-left: 1rem;

}

.music-columns{
    display: flex;
}

.music-col{
    width: calc(100% / 6);
    padding-right: 1rem;

}

.card-music img{
    width: 100%;

}

.card-music h3{
    font-size: 0.9rem;
    text-align: center;

}

.card-music div{
    font-size: 0.9rem;
    text-align: center;
}

.recommend-text{
    font-size: 0.9rem;
}

.popular-artist img{
    border-radius: 50%;
}


/* Footer */
footer{
    background-color: lightgreen;
    height: 80px;
    overflow: hidden;
}

.footer-rows ,.row ,.card{
    height: 100%;
}

.row img{
    height: 100%;
}

.row .card{
    display: flex;
    align-items: center;
}

.row{
    padding: 1rem 0.5rem;
}

.footer-icons{
    padding-left: 2rem;
}

.footer-icons :first-child{
    padding-right: 0.3rem;
}

/* End Footer */

.upgrade-banner{
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 200px);
    position: fixed;
    top: 0;
    right: 0;
    font-size: 20px;
}


/* MD */
@media screen and (max-width: 1100px) {
    
}

/* S */
@media screen and (max-width: 700px) {
    
}

/* XS */
@media screen and (max-width: 600px) {
    .left-nav-col{
        width: 70px;
    }

    .main-content{
        width: calc(100% - 70px);
    }

    .upgrade-banner{
        width: calc(100% - 70px);
    }
    
}