/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Roboto', sans-serif;
}

.app-wrapper{
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
}

/* img{
    width: 100%;
} */

/* Main */
main{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
}

/* Left-Nav-Col */
.left-nav-col{
    background-color: black;
    width: 200px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    
}

.logo{
    width: 150px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.7rem;
}

.logo :last-child{
    display: none;
}

.playlist-area{
    flex-grow: 1;
}

.play-list{
    overflow-y: auto;
    height: 60%;
}

.current div{
    padding-left: 0.7rem;
}

.search div{
    padding-left: 1rem;
    display: inline-block;
}

.libreria div{
    padding-left: 1rem;
    display: inline-block;
}

.current{
    border-left: 3px solid #a9f533;
}

.user-menu{
    list-style-type: none;
    color: #6b6b6b;
}

.user-menu img{
    width: 30px;
    vertical-align: middle;
    opacity: 0.5;
}

.playlist-area{
    padding-top: 1rem;
    padding-left: 1rem;
}

.playlist-area div{
    padding: 0.5rem 0;
}

.playlist-area h3{
    color: white;
    font-size: 16px;
}

.plus-square{
    background-color: #a3a3a3;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    font-size: 40px;
}

.add-playlist :last-child{
    color: #6b6b6b;
    font-weight: bold;
    vertical-align: center;

}

.play-list{
    list-style-type: none;
    line-height: 30px;
    color: #6b6b6b;
}

.download img{
    width: 15px;
    vertical-align: middle;
}

.download span{
    font-size: 13px;
    vertical-align: middle;
}

.profile img{
    width: 20px;
    background-color:#a3a3a3 ;
    border-radius: 50%;
    vertical-align: middle;
}

.last-menu{
    padding-left: 1rem;
    padding-right: 1rem;
}

hr{
    margin: 0.5rem 0;
    border: none;
    height: 1px;
    color: #6b6b6b;
    background-color: #6b6b6b;;
}

.download span{
     color: #6b6b6b;;
}

.profile h3{
    color: white;
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}

/* Main-content */
.main-content{
    background-color: #141922;
    width: calc(100% - 200px);
    overflow-y: auto;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 12px;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.main-menu li{
    padding-left: 1rem;
    
}

.main-menu li a{
    text-decoration: none;
    color: #6b6b6b;
    font-weight: bold;
}

.music-columns{
    display: flex;
}

.music-col{
    width: calc(100% / 6);
    padding-right: 1rem;

}
/* .card-music{
    position: relative;
} */

.music-img{
    position: relative;
}

/**********************************************
 Hover-Effect
 **************************************************/
.hover-effect{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Hover-Effect with border-radius */
.popular-artist .hover-effect{
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top:0;
    background-color: rgba(0, 0, 0, 0.3);
}


.hover-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
} 
/**************************************************** 
End Hover-Effect
*******************************************************/

.card-music img{
    width: 100%;

}

.music-name h3{
    font-size: 0.9rem;
    text-align: center;
    color: white;

}
h2{
    color: white;
    font-size: 1.3rem;
}

.music-list-recently h2{
    padding-bottom: 1rem;

}

.recommend-music h2{
    padding-top: 2rem;
}

.popular-artist h2{
    padding-top: 2rem;
}

.music-name{
    font-size: 0.9rem;
    text-align: center;
    color: #6b6b6b;
    font-weight: bold;
}

.recommend-text{
    font-size: 0.7rem;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
    color: #6b6b6b;
    font-weight: bold;
}

.popular-artist img{
    border-radius: 50%;
}

.current-main{
    border-bottom: 3px solid #a9f533;
    border-width: 2px;
}

/* Footer */
footer{
    background-color: #282828;
    height: 80px;
    overflow: hidden;
}

footer ul{
    list-style-type: none;
}

.footer-rows ,.row ,.card{
    height: 100%;
}

.row1 img{
    height: 100%;
} 

.footer-rows{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem ;
}

.row1 .card{
    display: flex;
    align-items: center;
}

/* .row{
    width: calc(100% / 3);
    padding: 1rem 0.5rem;
} */

.row1{
    width: 25%;
}

.row2{
    width: 50%;
}

.row3{
    width: 25%;
}


.footer-icons{
    padding-left: 2rem;
    color: #6b6b6b;
}

.footer-icons :first-child{
    padding-right: 0.3rem;
}

.command-list{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.command-list :nth-child(2){
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.command-list :nth-child(4){
    padding-right: 1rem;
    padding-left: 1.5rem;
}

.command-list :nth-child(3){
    font-size: 25px;
}

.command-bar-center{
    display: flex;
    justify-content: center;
}

.command-bar-right{
    display: flex;
    justify-content: end;
    
}

.command-list-right{
    display: flex;
    align-items: center;
}

.command-list-right li{
    padding-right: 1rem;
    color: white;
}

.music-timer-bar{
    position: relative;
}

.music-timer-bar :nth-child(2){
    width: 400px;
    height: 3px;
    border-radius: 3px;
    background-color:#5a5a5a; 
    display: inline-block;
    vertical-align: middle;
}

.music-timer-bar span{
    color: white;
    font-size: 12px;
}

.music-scored{
    width: 20%;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    
}

.sound-row{
    width: 100px;
    height: 3px;
    border-radius: 3px;
    background-color: #5a5a5a;
    position: relative;
}

.sound{
    width: 25%;
    height: 100%;
    background-color:white;
    border-radius: 3px;
    
}

.sound .circle{
    display: none;
    font-size: 12px;
    color:white;
    position: absolute;
    left: 20%;
    bottom: -6px;
}

.music-scored .circle{
    display: none;
    color: white;
    position: absolute;
    left: 21%;
    bottom: -2px;
}

.music-playing{
    padding-left: 1rem;
}
 .music-playing h4{
    color: white;
    font-size: 13px;
}

.music-playing div{
    font-size: 12px;
    color: #6b6b6b;
}
/* End Footer */

/* Upgrade-Btn */
.upgrade-banner{
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 200px);
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 20px;
    text-align: right;
    padding-top: 0.5rem;
    padding-right: 1rem;
}

.btn{
    padding: 7px 20px;
    border: 1px solid white;
    border-bottom: 2px solid white;
    border-radius: 20px;
    text-decoration: none;
    font-size: 10px;
    color: white;
}

/******************************* 
HOVER
********************************/
/* Main-Content */
.main-menu li a:hover{
    color: white;
}

.music-img:hover .hover-effect {
    display: inline-block;
}

/* Left-Nav-Col */
.user-menu li:hover img, .user-menu li:hover span{
    color: white;
    opacity: 1.5;
}

.add-playlist:hover span {
    color: white;
}

.add-playlist:hover div{
    background-color: white;
}

.play-list li:hover{
    color: white;
}

.download:hover span{
    color: white;
}

/* Footer */
.music-playing:hover div{
    color: white;
    text-decoration: underline;
}

.footer-icons :hover{
    color: white;
}

.music-timer-bar:hover .music-scored{
    background-color: #a9f533;
}

.sound-row:hover .sound{
    background-color: #a9f533;
}

.sound-row:hover .circle{
    display: inline-block;
}

.music-timer-bar:hover .circle{
    display: inline-block;

}

.scale-play:hover{
    transform: scale(1.2);
}

.btn:hover{
    transform: scale(1.2);
}

/*********************************************
 End Hover
*********************************************/

/* MD */
@media screen and (max-width: 1100px) {
    /* Main */
    .main-menu{
        flex-wrap: wrap;
    }

    .music-list-recently .music-columns{
        flex-wrap: wrap;
    }

    .music-list-recently .music-col{
        width: calc(100% / 4);
        padding-right: 1rem;
    
    }

    /* Upgrade-Banner */
    .upgrade-banner{
        z-index: 1;
    }
    
}

/* S */
@media screen and (max-width: 700px) {
    /* Main */
    .music-columns{
        flex-wrap: wrap;
    }

    .main-menu{
        flex-wrap: wrap;
    }

    .music-col{
        width: calc(100% / 2);
        padding-right: 1rem;
    
    }

    /* Upgrade-Banner */
    .upgrade-banner{
        z-index: 1;
    }
    
}

/* XS */
@media screen and (max-width: 600px) {
    /* Upgrade-Banner */
    .upgrade-banner{
        width: calc(100% - 70px);
    }

    .upgrade-banner{
        z-index: 1;
    }

    /* Main-Content */
    .main-content{
        width: calc(100% - 70px);
    }

    .music-columns{
        flex-wrap: wrap;
    }

    .main-menu{
        flex-wrap: wrap;
    }

    .music-col{
        width: calc(100% / 2);
        padding-right: 1rem;
    
    }

     /* Left-Nav-Col */
     .left-nav-col{
        width: 70px;
    }

    .user-menu{
        flex-grow: 1;
    }
    
    .user-menu li span{
        display: none;
    }

    .playlist-area{
        display: none;
    }

    .last-menu h3, span, hr{
        display: none;
    }

    .logo{
        width: 50px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0.9rem;
    }

    .logo :first-child{
        display: none;
    }

    .logo :last-child{
        display: inline-block;
    }

    .current{
        border-left: none ;
    }

    .current div{
        padding-left: 0.9rem;

    }

    .profile img{
        margin-top: 0.5rem;
        margin-bottom: 0.3rem;
    }

    /* Footer */
}